.spinner {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: calc(50% - 10px); 
}

.messages-section {
    max-height: calc(100% - 190px);
}

.dir-rtl {
    direction: rtl;
}

.dir-ltr {
    direction: ltr;
}

.mr-10 {
    margin-right: 10px !important;
}

.min-width-50 {
    min-width: 50px;
}

.align-right {
    text-align: right;
}

.bg-dark {
    background-color: #111827 !important;
}

.bg-light {
    background-color: white !important;
}

::ng-deep {
    .mat-mdc-menu-content {
        padding: 0 !important;
    }

    .filepond--credits {
        display: none !important;
    }
}

.upload-files-panel {
    left: 0;
    width: 100%;
    overflow-y: auto;
}

.h-screen {
    height: 92vh !important;
}

.w-100 {
    width: 100%;
}

.m-0 {
    margin: 0 !important;
}

.pl-42 {
    padding-left: 42px;
}

.align-items-center {
    align-items: center;
}

.hide {
    opacity: 0;
}

.fs-24 {
    font-size: 24px;
}

:host::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mat-mdc-form-field-infix {
        padding: 0 !important;
        max-height: 42px !important;
    }

    input, .mat-mdc-form-field-flex {
        height: 42px !important;
        font-size: 14px !important;
    }

    input {
        background-color: white;
    }

        .mdc-notched-outline__leading {
            border-left: 1px solid #d1d5db !important;
            border-top: 1px solid #d1d5db !important;
            border-bottom: 1px solid #d1d5db !important;
            width: 10px !important;
            border-top-left-radius: 7px !important;
            border-bottom-left-radius: 7px !important;
        }

        .mdc-notched-outline__trailing {
            border-right: 1px solid #d1d5db !important;
            border-top: 1px solid #d1d5db !important;
            border-bottom: 1px solid #d1d5db !important;
            border-top-right-radius: 7px !important;
            border-bottom-right-radius: 7px !important; 
        }

}

::ng-deep {
    .dark .bg-input-gray {
        background-color: #1f2937 !important;
    }
}

.top-20 {
    top: 20px;
}

.mr-10 {
    margin-right: 10px !important;
}

.pl-35 {
    padding-left: 35px;
}

.quoted-msg {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.048);
}

.file-sidebar {
    width: 100%;
    height: 50px;
    padding: 10px 0 0px 0;
}

.file-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 80px;
    margin: 10px 5px 0 5px;
}

.right-sidenav-img {
    width: 64px;
    height: 64px;
}

.user-avatar {
    width: 32px;
    height: 32px;
}

.bg-round {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 50%;
}

.file-pdf, .file-text {
    min-width: 300px;
}

.btn-spinner {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

.file-name {
    font-size: 12px;
    opacity: 0.5;
}

.chat-unread {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.p-0 {
    padding: 0;
}

@media (max-width: 900px) {
    .messages-panel {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        height: calc(100% - 65px);
        z-index: 10;
        transition: transform 0.3s ease-in-out;
    }

    .sidenav-panel {
        width: 100% !important;
    }
}

@media (min-width: 900px) {
    .ki-abstract-11 {
        display: none;
    }

    .messages-panel {
        opacity: 1 !important;
    }
}

@media (max-width: 1200px) {
    .company-panel {
        display: none;
    }
}