::ng-deep .swal2-confirm {
  order: 2;
}

::ng-deep .swal2-cancel {
  order: 1;
}

input[type="password"]::-ms-reveal, input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none;
}

input[type="password"] {
  font-size: 1.1rem;           
  line-height: 1.5;
}

input[type="password"]:before, input[type="password"]:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
} 

