<div class="bg-secondary-50 dark:bg-dark-900 flex justify-center h-100 align-center p-10">
    <div class="flex justify-end pl-25 pr-25">
        <i class="ki-outline ki-abstract-11 text-base me-1 mr-2 text-secondary-900 dark:text-secondary-100" (click)="closeDialog()"></i>
    </div>

    @if (format === 'img') {
        <img class="w-full max-w-lg h-auto object-contain" [src]="imageUrl">
    }

    @if (format === 'pdf') {
        <iframe
            [src]="transform(imageUrl)"
            width="100%"
            height="100%"
            style="border: none;"
        ></iframe>
    }

    @if (format === 'txt') {
        <pre class="file-content">{{ textContent }}</pre>
    }
</div>